.tweetContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  height: 170px;
  background-color: #ffffff;
  border: 5px black solid;
  box-shadow: 6px 5px slategray;
  border-radius: 30px;
}
.tweetContainer:hover {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  height: 185px;
  background-color: rgba(192, 188, 188, 0.719);
  border: 7px black solid;
  box-shadow: 8px 10px #000000;
  border-radius: 30px;
}

article {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

articleheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Merriweather", serif;
  font-size: 14px;
  justify-items: baseline;
}

.user {
  display: flex;
  align-items: center;
}

.handle {
  justify-self: flex-end;
  opacity: 0;
}

.handle:hover {
  opacity: 100%;
  color: black;
}
.headerimage {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 30px;
}

.headerusername {
  display: flex;
  flex-direction: row;
  color: black;
}

.atname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Merriweather", serif;
  border-top: 3px black solid;
  font-size: 0.75em;
  color: rgb(245, 39, 12);
  align-items: center;
  margin-bottom: 10px;
}

.icongroup {
  display: flex;
  justify-content: space-around;
}

i {
  color: red;
  margin: 3px;
}
