header {
  margin-top: 100px;
  padding: 10px;
  height: 550px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a6d1ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: radial-gradient(yellow, blue, purple);
  /* background-image: url(https://mcdn.wallpapersafari.com/medium/99/63/0y7sVe.jpg); */

  /* background-image: url("https://www.transparenttextures.com/patterns/argyle.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: "Lobster", cursive;
  font-size: 35px;
  color: #ffffff;
  border: 1px lightgray solid;
  box-shadow: 10 10 black;
}

.glow {
  font-size: 25px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3617bd,
      0 0 40px #5712d8, 0 0 50px #2113e2, 0 0 60px #350de6, 0 0 70px #060aee;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #2c84be, 0 0 40px #1587f1,
      0 0 50px #2484df, 0 0 60px #08a4ec, 0 0 70px #0aa1f8, 0 0 80px #07b9f0;
  }
}
