/*media break points  */

@media (min-width: 300px) {
  nav {
    height: 100px;
    width: auto;
    background-color: #4056a1;
    color: #ffffff;
    font-family: "Londrina Solid", cursive;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 28px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border: 1px lightgray solid;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

@media (min-width: 950px) {
  nav {
    height: 100px;
    width: auto;
    background-color: #4056a1;
    color: #ffffff;
    font-family: "Londrina Solid", cursive;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 28px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border: 1px lightgray solid;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

@media (min-width: 1000px) {
  nav {
    height: 100px;
    width: auto;
    background-color: #4056a1;
    color: #ffffff;
    font-family: "Londrina Solid", cursive;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    font-size: 28px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px lightgray solid;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
