nav {
  height: 120px;
  width: auto;
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Londrina Solid", cursive;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border: 1px lightgray solid;
}
