.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweetinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  font-family: " Bungee";
  background: transparent;
  border: unset;
  height: 25px;
  border-bottom: 3px black solid;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  font-family: " Bungee";
}

.tweetButton {
  background-color: cornflowerblue;

  margin: 5px 0px;
  padding: 10px;
  font-family: " Bungee";
  color: white;
}

.black {
  color: black;
}

.red {
  color: red;
}
