.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweetinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: black solid;
  border-top: darkgrey;
  border-left: darkgrey;
  border-right: darkgrey;
  min-width: 400px;
  background-color: #f4f1ec;
  font-family: " Bungee";
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  font-family: " Bungee";
}

.tweetButton {
  background-color: cornflowerblue;

  margin: 5px 0px;
  padding: 10px;
  font-family: " Bungee";
  color: white;
}

.black {
  color: black;
}

.red {
  color: red;
}
